--readme          README.md
--markup          markdown
--markup-provider maruku
--default-return  ""
--title           "Haml/Sass Documentation"
--query           'object.type != :classvariable'
--hide-void-return
--protected
--no-private
--no-highlight
