:maruku
  Give Sass a try online!
  Just type in some Sass code below, press **Render**,
  and see the beautiful CSS output.

%form#try{:method => "post"}
  %textarea{:name => "input"}
    - if params[:input]
      = preserve(CGI.escapeHTML(params[:input]))
    - else
      :preserve
        // Constant Definitions

        !page_width    = 800px
        !sidebar_width = 200px
        !primary_color = #eeeeee

        // Global Attributes

        body
          font:
            family: sans-serif
            size: 30em
            weight: bold

        // Scoped Styles

        #contents
          width = !page_width
          #sidebar
            float: right
            width = !sidebar_width
          #main
            width = !page_width - !sidebar_width
            background = !primary_color
            h2
              color: blue
        #footer
          height: 200px

  %input{:type => "submit", :value => "Render"}

  %pre.result&= @result
