:maruku
  Give Haml a try online!
  Just type in some Haml code below, press **Render**,
  and see the beautiful HTML output.
  You can't use any real Ruby code here,
  but feel free to use Ruby hash attributes.

%form#try{:method => "post"}
  %textarea{:name => "input"}
    - if params[:input]
      = preserve(CGI.escapeHTML(params[:input]))
    - else
      :preserve
        !!!
        #main
          .note
            %h2 Quick Notes
            %ul
              %li
                Haml is usually indented with two spaces,
                although more than two is allowed.
                You have to be consistent, though.
              %li
                The first character of any line is called 
                the "control character" - it says "make a tag"
                or "run Ruby code" or all sorts of things.
              %li
                Haml takes care of nicely indenting your HTML.
              %li 
                Haml allows Ruby code and blocks.
                But not in this example.
                We turned it off for security.

          .note
            You can get more information by reading the
            %a{:href => "/docs/yardoc/file.HAML_REFERENCE.html"}
              Official Haml Reference

          .note
            %p
              This example doesn't allow Ruby to be executed,
              but real Haml does.
            %p
              Ruby code is included by using = at the
              beginning of a line.
            %p
              Read the tutorial for more information.

  %input{:type => "submit", :value => "Render"}

  %pre.result&= @result
