:maruku
  Give Sass a try online!
  Just type in some Sass code below, press **Render**,
  and see the beautiful CSS output.

%form#try{:method => "post"}
  %textarea{:name => "input"}
    - if params[:input]
      = preserve(CGI.escapeHTML(params[:input]))
    - else
      :preserve
        // Variable Definitions

        $page-width:    800px
        $sidebar-width: 200px
        $primary-color: #eeeeee

        // Global Attributes

        body
          font:
            family: sans-serif
            size: 30em
            weight: bold

        // Scoped Styles

        #contents
          width: $page-width
          #sidebar
            float: right
            width: $sidebar-width
          #main
            width: $page-width - $sidebar-width
            background: $primary-color
            h2
              color: blue
        #footer
          height: 200px

  %input{:type => "submit", :value => "Render"}

  %pre.result&= @result
