%h2 This is a pretty complicated partial
.partial
  %p It has several nested partials,
  %ul
    - 5.times do
      %li
        %strong Partial:
        - @nesting = 5
        = render :partial => 'haml/templates/av_partial_2_ugly'