!!! XML
!!! XML ISO-8859-1
!!! XML UtF-8 Foo bar
!!!
!!! 1.1
!!! 1.1 Strict
!!! Strict foo bar
!!! FRAMESET
%strong{:apos => "Foo's bar!"} Boo!
.render= render :inline => "%em= 'wow!'", :type => :haml
= "stuff followed by whitespace"
  
- if true

  %strong block with whitespace
%p
  \Escape
  \- character
  \%p foo
  \yee\ha
/ Short comment
/ This is a really long comment look how long it is it should be on a line of its own don't you think?
/
  This is a block comment
  cool, huh?
  %strong there can even be sub-tags!
  = "Or script!"
/[if lte IE6] conditional comment!
/[if gte IE7]
  %p Block conditional comment
  %div
    %h1 Cool, eh?
/[if gte IE5.2]
  Woah a period.
