%p
  %q< Foo
%p
  %q{:a => 1 + 1}< Foo
%p
  %q<= "Foo\nBar"
%p
  %q{:a => 1 + 1}<= "Foo\nBar"
%p
  %q<
    Foo
    Bar
%p
  %q{:a => 1 + 1}<
    Foo
    Bar
%p
  %q<
    %div
      Foo
      Bar
%p
  %q{:a => 1 + 1}<
    %div
      Foo
      Bar

-# Regression test
%p
  %q<= "foo"
  %q{:a => 1 + 1}
    bar
