%div.tags
  %foo 1
  %FOO 2
  %fooBAR 3
  %fooBar 4
  %foo_bar 5
  %foo-bar 6
  %foo:bar 7
  %foo.bar 8
  %fooBAr_baz:boom_bar 9
  %foo13 10
  %foo2u 11
%div.classes
  %p.foo.bar#baz#boom
  .fooBar a
  .foo-bar b
  .foo_bar c
  .FOOBAR d
  .foo16 e
  .123 f
  .foo2u g
