.shadow
  box-shadow: \
    5px 5px 10px black, \
    inset 0 0 10px white

$rgb-colors: \
  red \
  green \
  blue

@each $color in $rgb-colors
  .color-#{"" + $color}
    color: $color

$cmyk-colors: ( \
  c: cyan, \
  m: magenta, \
  y: yellow, \
  k: black )

@each $key, $color in $cmyk-colors
  .color-#{$key}
    color: $color

.comment
  box-shadow: \
    // 5px 5px 10px black,
    inset 0 0 10px white

#sidebar \
  div \
  a
  color: red

.nested
  @each \
    $color in \
      red \
      orange \
      yellow \
      green \
      blue
    color: $color

@media all \
  and (min-device-width: 100px) \
  and (max-device-width: 300px)
  #sidebar
    width: 100%

