%hr/
#footer
  :markdown
    Sass &copy; 2006-#{Time.new.strftime("%Y")}
    [Hampton Catlin](http://www.hamptoncatlin.com),
    [Nathan Weizenbaum](http://nex-3.com),
    [Chris Eppstein](http://chriseppstein.github.com),
    and numerous contributors.
    It is available for use and modification
    under the [MIT license](/docs/yardoc/file.MIT-LICENSE.html).
