%hr/
#footer
  %a{:href => "http://validator.w3.org/check/referer"} XHTML
  |
  %a{:href => "http://jigsaw.w3.org/css-validator/check/referer"} CSS

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
<script type="text/javascript">_uacct = "UA-121285-5";urchinTracker();</script>
