#header
  %h1= link "Haml", "/"

  #nav
    %ul
      %li= link "About", "/about"
      %li= link "Community", "http://groups-beta.google.com/group/haml"
      %li= link "Development", "/development"
    .clear
