#sidebar
  .download
    %p
      Providing a fresh selection of:
      = link "Download", "/download.html"
  .link= link "Editor Support", "/editors.html"
  .link= link "Development", "/development.html"
