:maruku
  Sass is a meta-language on top of CSS
  that's used to describe the style of a document
  cleanly and structurally,
  with more power than flat CSS allows.
  Sass both provides a simpler, more elegant syntax for CSS
  and implements various features that are useful
  for creating manageable stylesheets.

  ## The Sass Team

  Sass was originally created by **[Hampton Catlin](http://hamptoncatlin.com)**.
  He and [Nathan Weizenbaum](http://nex-3.com) designed Sass through version 2.0.
  Hampton lives in Jacksonville, Florida and is the lead mobile developer for Wikimedia.

  **[Chris Eppstein](http://chriseppstein.github.com)** joined the Sass team in late 2008.
  He and Nathan have designed Sass from version 2.2 on.
  Chris is the creator of [Compass](http://compass-style.org),
  the first Sass-based framework.
  Chris lives in San Jose, California with his wife and daughter.
  He is the Software Architect for [Caring.com](http://caring.com),
  a website devoted to the thirty-four million caregivers
  whose parents are sick or elderly.

  [Nathan Weizenbaum](http://nex-3.com) is the primary designer of Sass,
  and has been the main developer since its inception.
  He lives in Seattle, Washington and will be going to work for Google
  once he finishes his last year at the University of Washington.

  ## License

  Sass is available under the [MIT License](/docs/yardoc/file.MIT-LICENSE.html).
