%p
  You can browse the Haml Git repository
  %a{ :href => "http://github.com/nex3/haml.git" } here.
%p
  We're always happy to have all the help we can get. All of our
  discussion, bug reporting, etc. happens through the
  %a{ :href => "http://groups-beta.google.com/group/haml?hl=en" } Haml Google Group
  &mdash; this is where all your helpful urges should be directed.
  Here are a few ways you can lend a hand:
%h2 Report Bugs
%p
  Theoretically, there shouldn't
  %em be
  any bugs. Unfortunately, we all know how well "theoretically"
  works out in the end. If you see a bug, let us know by emailing the
  Group and we'll deal with it as soon as we can. Try to include
  as much of the following information as you can in your report:
%ul
  %li What version of Haml you were using.
  %li What version of Ruby you were using.
  %li Whether you were using Haml with Ruby on Rails.
  %li If so, what version of Ruby on Rails you were using.
  %li A test case (as small as possible) where the bug appears.
%h2 Throw Out Ideas
%p
  Got a brilliant idea for a feature Haml absolutely needs? We're
  interested! Send an email to the Group and we'll bandy the idea
  about.
%h2 Document Haml
%p
  Our documentation is pretty good, but we're constantly adding new
  stuff, and sometimes it's hard to keep up, or hard to keep old
  documentation up to date. If you see an error in any of the Haml
  documentation or you want to add something new, shoot an email to
  the Group.
%p
  We'd also be overjoyed if you wanted to help out with any of the
  documentation on the website itself. The
  %a{ :href => "/tutorial" } tutorial
  in particular could always use more information.
%h2 Actually Write Code
%p
  Of course, the core of Haml is the parser itself. If you're
  interested in fixing a bug or adding a feature, check out the latest
  development version (see the
  %a{ :href => "/download" } download page
  for instructions) and code away!
  The general process for using Git is as follows:
%pre
  :preserve
    # Get the repository.
    git clone git://github.com/nex3/haml.git
    cd haml

    # Fix a bug, add a feature, etc.
    emacs

    # Commit your change locally.
    # Remember to write a detailed commit message!
    git commit -a

    # Create a patch.
    # It'll look like 0001-your-commit-message.patch.
    git format-patch origin

%p
  When you've created your patch,
  %a{:href => 'http://pastie.org'} paste
  %a{:href => 'http://pastie.caboo.se'} it
  %a{:href => 'http://pastie.textmate.org'} somewhere
  and send a link to the Google Group.
  If it's useful and good, we'll incorporate it!
%p
  We're also looking for people to implement different plugins and
  language-specific implementations so the love can be shared across the webdev world!