:markdown
  ### [Tutorial](/tutorial.html)

  The tutorial is a great place to start
  if you aren't familiar with the language.
  It goes over the basic syntax for elements,
  as well as how to embed Ruby in the document.


  ### [Haml Reference](/docs/yardoc/HAML_REFERENCE.md.html)

  The Haml reference is the most complete documentation for Haml.
  It contains information on every language feature,
  all the [options](/docs/yardoc/HAML_REFERENCE.md.html#options),
  and how to [install it as a Rails plugin](/docs/yardoc/HAML_REFERENCE.md.html#plugin).


  ### [FAQ](/docs/yardoc/FAQ.md.html)

  If you're having trouble or have a question, try the FAQ.
  If you don't find what you're looking for there,
  ask [the Haml community](/help.html).

  ### [API Documentation](/docs/yardoc/)

  Finally, if you want to look at the Haml implementation,
  check out the [YARD](http://yardoc.org) API documentation.
  This probably won't be too useful for most people,
  but if you're writing Ruby code to interact with Haml,
  that's a good place to look.
