:markdown
  Sass has a rich collection of documentation.
  [**The tutorial**](/tutorial.html) is a great place to start
  if you aren't familiar with the language.
  It goes over the basic syntax for elements,
  as well as how to embed Ruby in the document.

  [**The Sass reference**](/docs/yardoc/SASS_REFERENCE.md.html)
  is the most complete documentation for Sass.
  It contains information on every language feature,
  all the [options](/docs/yardoc/SASS_REFERENCE.md.html#options),
  and how to [install it as a Rails plugin](/docs/yardoc/SASS_REFERENCE.md.html#plugin).

  If you're having trouble or have a question,
  try [**the FAQ**](/docs/yardoc/FAQ.md.html).
  If you don't find what you're looking for there,
  ask [the Sass community](/help.html).

  Finally, if you want to look at the Sass implementation,
  check out [**the YARD documentation**](/docs/yardoc/).
  This probably won't be too useful for most people,
  but if you're writing Ruby code to interact with Sass,
  that's a good place to look.
