:markdown
  ### [Tutorial](/tutorial.html)

  The tutorial is a great place to start
  if you aren't familiar with the language.
  It covers getting set up with Sass
  and the basic features of the language.

  ### [Sass Reference](/docs/yardoc/file.SASS_REFERENCE.html)

  The Sass reference is the most complete documentation for Sass.
  It contains information on every language feature,
  all the [options](/docs/yardoc/file.SASS_REFERENCE.html#options),
  and how to [install it as a Rails plugin](/docs/yardoc/file.SASS_REFERENCE.html#plugin).
  
  ### Books
  
  There are two books out about Sass (and Compass). 
  
  * [Sass and Compass in Action](http://manning.com/netherland/)
    is a near-complete guide to everything Sass and Compass.
    It's written by Wynn Netherland, Chris Eppstein, and Nathan Weizenbaum.
    Chris and Nathan are the current maintainers and designers of Sass.

  * [Pragmatic Guide to Sass](http://pragprog.com/book/pg_sass/pragmatic-guide-to-sass)
    is a small beginners guide to Sass and Compass.
    It's written by Hampton Catlin, the original designer of Sass.

  ### [Community](http://groups.google.com/group/sass-lang)

  Sass has a thriving community that's eager to help out.
  There are several places where you can go to ask questions
  or help you debug problems.
  The Sass IRC channel, **`#sass` on [`irc.freenode.net`](http://webchat.freenode.net/)**,
  is a great place to ask short questions that you want answered quickly.
  Feel free to ping `nex3` if he's there to get his attention quickly.
  If there's no one on `#sass`, the `#compass` channel is worth trying as well.

  If you have a longer question (or no one's around on IRC at the moment),
  the [Sass Google group](http://groups.google.com/group/sass-lang) is a great place to go.
  You'll usually get a response within a couple hours or so.


  ### [FAQ](/docs/yardoc/file.FAQ.html)

  If you're having trouble or have a question, try the FAQ.
  If you don't find what you're looking for there,
  ask [the Sass community](http://groups.google.com/group/sass-lang).

  ### [API Documentation](/docs/yardoc/)

  Finally, if you want to look at the Sass implementation,
  check out the [YARD](http://yardoc.org) API documentation.
  This probably won't be too useful for most people,
  but if you're writing Ruby code to interact with Sass,
  that's a good place to look.
