%p
  First of all, you need to install the Haml gem.
  Most people will just want to use the most recent stable release.
  To get it, just run

%pre gem install --no-ri haml

%p
  If you want to use the latest and greatest stuff in Haml, though,
  you'll need to install it from
  = succeed '.' do
    %a{:href => "http://git.or.cz"} Git
  To do so, run

%pre<
  :preserve
    git clone git://github.com/nex3/haml.git
    cd haml
    rake install

%h3 Downloadable Archives
%p
  Available from
  = succeed '.' do
    %a{:href => "http://rubyforge.org/frs/?group_id=2760"} Rubyforge