:markdown
  Note that Sass is written in Ruby, so you'll need Ruby installed as well.
  If you're using OS X, it's already there.
  Windows users can get it via [the RubyInstaller for Windows](http://rubyinstaller.org/downloads/).
  Linux users can install it with their package manager.

  ## Standard Gem

  Most people will just want the standard stable Sass gem.
  To install this:

      gem install sass

  ## Prerelease Gem

  To get the latest and greatest Sass goodness, though,
  you'll need something else.
  A prerelease gem is created automatically every time changes are made
  to the master branch.
  To install it:

      gem install sass --pre

  ## Installation from Git

  Sass can also be installed directly from the [Git repository](http://github.com/nex3/sass):

      git clone git://github.com/nex3/sass.git
      cd sass
      rake install

  ## Downloadable Archives

  Finally, archives of current and old releases are available on
  [Rubyforge](http://rubyforge.org/frs/?group_id=9702) (even older releases are
  in the [Haml project](http://rubyforge.org/frs/?group_id=2760)).
