:markdown
  Sass is bundled with [Haml](http://haml-lang.com),
  so to get it you'll need to install Haml as well.

  ## Standard Gem

  Most people will just want the standard stable Sass gem.
  To install this:

      sudo gem install haml

  ## `haml-edge` Gem

  To get the latest and greatest Sass goodness, though,
  you'll need something else.
  A `haml-edge` gem is created automatically every time changes are made
  to the master branch.
  To install it:

      sudo gem install haml-edge

  Note that `gem "haml-edge"` must be used before `require 'sass'`
  if `haml-edge` is to be used.

  ## Installation from Git

  Haml can also be installed directly from the [Git repository](http://github.com/nex3/haml):

      git clone git://github.com/nex3/haml.git
      cd haml
      rake install

  ## Downloadable Archives

  Finally, archives of current and old releases
  are available on [Rubyforge](http://rubyforge.org/frs/?group_id=2760).
