:maruku
  Various text editors have various levels of support for Sass.
  Here's a list of all of them that I know of.
  If you create or learn of another or a more updated version,
  please email [sass-lang@googlegroups.com](mailto:sass-lang@googlegroups.com).

  Sass gets new syntax every now and then.
  This means that most of these modes are at least a little out-of-date.
  If anyone wants to take on the task of updating an old mode,
  that would be greatly appreciated.

  * **[BBEdit](http://www.barebones.com/support/bbedit/clippings_library.html#sass)**
    by Matt Martini.

  * **[Coda/SubEthaEdit](http://github.com/Brajeshwar/Sass.mode)**
    by Tom-Marius Olsen and Brajeshwar.

  * **[Eclipse](http://haml.googlegroups.com/web/net.lucky_dip.hamleditor_site_0.5.4.zip)**
    by [Brad Wilson](http://lucky-dip.net/).
    This is a snapshot of the site that used to host the plugin,
    so it may be a bit confusing to get it working.
    The [EclipseColorer plugin](http://colorer.sourceforge.net/eclipsecolorer/)
    by [Igor Russkih](http://cail.nm.ru/)
    also has support for coloring Haml and Sass.

  * **[Emacs for SCSS](http://github.com/antonj/scss-mode/tree/master/scss-mode.el)**
    by [Anton Johansson](http://antonj.se/), and
    **[Emacs for Sass](http://github.com/nex3/sass-mode/tree/master/sass-mode.el)**
    by [Nathan Weizenbaum](http://nex-3.com).
    The Sass mode is probably the most up-to-date,
    since it's maintained by the Sass maintainer.

  * **[GEdit/Gnome](http://groups.google.com/group/haml/msg/b5100d80d9182c71)**
    by [Ivan Kerin](http://www.facebook.com/ivan.kn).

  * **[JEdit](http://haml.googlegroups.com/web/haml.xml?hl=en)**
    by [Jim Morris](http://blog.wolfman.com/).
    May not work with recent versions of JEdit.

  * **[Kate/KDE](http://haml.googlegroups.com/web/haml_highlighting_for_kde.tar.gz)**
    by [Cies Breijs](http://ciesbreijs.blogspot.com).

  * **[Komodo](http://community.activestate.com/files/haml_bundle-0.1.1_0.zip)**
    (author unknown).

  * **[NetBeans](http://mediacast.sun.com/users/tnorbye/media/org-netbeans-modules-haml.nbm/details)**
    (author unknown).

  * **[PyCharm](http://www.jetbrains.com/pycharm)**: built in.

  * **RadRails**: built in.

  * **[RubyMine](http://www.jetbrains.com/ruby)**: built in.

  * **[TextMate / E Text Editor / SublimeText2 for SCSS](http://github.com/kuroir/SCSS.tmbundle)**
    by [Mario Ricalde](http://github.com/kuroir/SCSS.tmbundle)
    and [Chris Eppstein](http://chriseppstein.github.com/),
    and **[TextMate/E Text Editor for Sass](https://github.com/nathos/sass-textmate-bundle)**
    by [Nathan Henderson](https://github.com/nathos), among others.

  * **[Vim for SCSS](http://github.com/cakebaker/scss-syntax.vim)**
    by [Daniel Hofstetter](http://danielhofstetter.com/)
    and **[Vim for Sass](http://github.com/tpope/vim-haml)**
    by [Tim Pope](http://www.stopwritingramblingcommitmessages.com).

  * **[Visual Studio](http://www.mindscapehq.com/products/web-workbench)**
    by [Mindscape](http://www.mindscapehq.com/).

  * **[Web Matrix](http://extensions.webmatrix.com/packages/OrangeBits/)**
    by [Justin Beckwith](http://jbeckwith.com/).
