:maruku
  ## [Download FireSass](/firesass/firesass-0.0.5.xpi)

  The download link for FireSass on the [Mozilla add-on page](https://addons.mozilla.org/en-US/firefox/addon/103988/)
  is currently broken, so FireSass is temporarily being hosted here.
  Click the link above to download it.
