:maruku
  Haml has a thriving community that's eager to help out.
  There are several places where you can go to ask questions
  or help you debug problems.
  Before you do, though, make sure to check the [FAQ](/docs/yardoc/FAQ.md.html).

  The Haml IRC channel, [**`#haml` on `irc.freenode.net`**](irc://irc.freenode.net/haml),
  is a great place to ask short questions that you want answered quickly.
  Feel free to ping `nex3` if he's there to get his attention quickly.

  If you have a longer question (or no one's around on IRC at the moment),
  the [Haml Google group](http://groups.google.com/group/haml) is a great place to go.
  You'll usually get a response within a day or so;
  sooner, if the developers are paying attention when you send it.
