:maruku
  * News: [Haml 2.0 has been released!](/release-notes)
  * News: [Try Haml and Sass online!](http://lab.hamptoncatlin.com/)

  <p class="quote" markdown="1">
    "I am in love. I have found my perfect match. I've been made whole...
    I've seen the name a couple of ten times but never checked into it.
    Well, lemme tell you Rails kittens... Never has there been a leaner,
    more sexy templating language for Rails/Ruby."
    - ['Please Haml, Don't Hurt 'Em' - Ostracons](http://ostracons.com/entry/237/please-haml-dont-hurt-em)
  </p>

  <p class="quote" markdown="1">
    "It's so easy! Anyone can do it. Haml is sweeping the rails world
    like a wildfire of chicken, and everyone wants the biggest piece.
    I decided to try it last night on my new wallpaper site,
    and found that it's extremely awesome to work with."
    - ['Cheating on ERB with Haml' - Ruby stole my o\`o](http://www.ralree.info/2007/2/8/cheating-on-erb-with-haml)
  </p>

  <p class="quote" markdown="1">
    "If you haven't looked at HAML, you should.
    It's a pretty awesome alternative to ERb.
    Not for all, but what is?"
    - [DHH](http://twitter.com/d2h/statuses/1022449856)
  </p>

  What is it?
  -----------

  Haml takes your gross, ugly templates and replaces them with veritable **Haiku**.

  <acronym title="HTML Abstraction Markup Language">Haml</acronym>
  is the next step in generating views in your Rails application. 
  Haml is a refreshing take that is meant to free us from the shitty templating
  languages we have gotten used to.

  Haml is based on one primary principle. *Markup should be beautiful*.

  However, its not beauty for beauty's sake. [Unspace Interactive](http://www.unspace.ca)
  and several other professional Rails shops use Haml exclusively
  for every one of their projects. In fact, it was created for use
  in highly productive environments. The beauty makes you *faster*.

  Haml is a real solution to a real problem. Stop using the slow, repetitive,
  and annoying templates that you don't even know how much you hate yet.
  Try something new --- make templates fun and beautiful again!

  **If you sit down and try using Haml, you will learn it within 20 minutes.**

  Give yourself 5 minutes to read the [Tutorial](/tutorial)
  and then go convert one of your ERB templates to Haml.
  Feel the power of the Delete key. Simplify. Enjoy. Laugh.
  20 minutes later, you will never go back.

  <div id="showdown" markdown="1">
    ![The Showdown](/images/main_showdowntitle.gif)
    ![Haml vs. ERB](/images/main_showdownill.gif)
  </div>
