#blurb
  :maruku
    Sass makes CSS fun again.
    Sass is CSS, plus [nested rules](#nesting),
    [variables](#variables), [mixins](#mixins),
    and [more](/docs/yardoc/SASS_REFERENCE.md.html),
    all in a concise, readable syntax.
