#blurb
  :maruku
    Sass makes CSS fun again.
    Sass is CSS, plus [nested rules](#nesting),
    [variables](#variables), [mixins](#mixins),
    and [more](/docs/yardoc/SASS_REFERENCE.md.html),
    all in a concise, readable syntax.

-# It would be cool if we could have an arrow or something for these
  signifying the transition from CSS to Sass.

  Also, if possible, it would be awesome to use Sass from this site
  for these examples.
.feature
  %h2 Beauty
  %p
    Sass does away with the unnecessary brackets and semicolons of CSS.
    Properties are nested beneath selectors,
    and each property gets its own line.

  %pre.sass
    :preserve
      h1
        height: 118px
        margin-top: 1em

      .tagline
        font-size: 26px
        text-align: right

  %pre.css
    :preserve
      h1 {
        height: 118px;
        margin-top: 1em;
      }

      .tagline {
        font-size: 26px;
        text-align: right;
      }

.feature
  %h2 Nesting
  %p
    Sass avoids repetition by nesting selectors within one another.
    The same thing works with properties.

  %pre.sass
    :preserve
      table.highlighttable
        margin: 2em 0
        td.linenos
          text-align: right

      li
        background:
          repeat: no-repeat
          position: left center
          image: url(/images/icons/download.png)

  %pre.css
    :preserve
      table.highlighttable {
        margin: 2em 0;
      }
      table.highlighttable td.linenos {
        text-align: right;
      }

      li {
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url(/images/icons/download.png);
      }
