#header
  $nav-top: 160px
  $nav-left: 200px
  height: 250px
  width: 795px
  margin: 0 auto
  position: relative

  h1
    float: left
    margin: 40px 0 0 -50px
    text-indent: -9999px

    a
      display: block
      width: 217px
      height: 238px
      background: url(/images/sass.gif) no-repeat

  #start
    left: 345px
    position: absolute
    background-color: #f8f8ff
    padding: 5px
    +border-bottom-radius(5px)
    border:
      width: 1px
      style: solid
      color: $border-color
      top:
        style: none
      bottom:
        width: 5px
        color: $main-color

    code:before
      content: "$ "
      font-weight: bold
    .executable
      font-weight: bold

  #nav
    position: relative
    top: $nav-top
    margin-left: $nav-left
    padding: 11px 0
    border-bottom: $border

    ul
      padding: 5px 0
      list-style-type: none
      text-align: center
      margin: 0

      li
        padding: 6px 15px
        margin: 0 7.5px
        +inline-block
        font: 14px  Georgia, Garamond, Times, "Times New Roman", serif
        border: 1px solid #cacaca
        border-bottom: 3px solid $main-color

        a
          text-decoration: none
          color: $main-color / 4

          &:hover
            color: $main-color

  #latest
    position: relative
    text-align: center
    top: $nav-top + 10px
    margin-left: $nav-left
    color: #888888

    h2
      color: #555555
      font:
        size: 1.4em
        weight: bold
      display: inline

    .version
      font:
        size: 1.2em
        weight: bold
