@import compass/utilities/general/clearfix

.feature
  +compare
  width: 55%
  margin-bottom: 1em

  $bottom: 0.5em
  $bottom_padding: 0.3em
  h2
    text-align: center
    margin-bottom: $bottom
    padding-bottom: 0

  &:target h2
    $width: 0.2em
    +border-bottom-radius($width)
    margin-bottom: $bottom - $bottom_padding
    padding-bottom: $bottom_padding - $width
    border-bottom:
      color: $main_color
      width: $width
      style: solid

  $padding: 10px
  $radius: 5px

  &.scss
    .tabs
      .sass
        opacity: 0.5
        border-bottom-style: solid
        left: -$radius
        border-left-style: none
        padding-left: $padding + $radius - 2px
        +border-top-left-radius(0)
        &:hover
          opacity: 0.7
      .scss
        border-bottom-color: #ffeeff
        z-index: 1

    pre.sass
      display: none
  &.sass
    .tabs
      .scss
        opacity: 0.5
        border-bottom-style: solid
        &:hover
          opacity: 0.7
        border-right-style: none
        padding-right: $padding + $radius
        +border-top-right-radius(0)
      .sass
        left: -$radius
        border-bottom-color: #ffeeff
        z-index: 1

    pre.scss
      display: none

  .tabs div
    cursor: pointer
    position: relative
    top: 1px
    float: left
    border: 1px $main-color solid
    background-color: #ffeeff
    padding:
      left: $padding
      right: $padding
    font-family: monospace
    +border-top-radius($radius)

  pre.sass, pre.scss
    clear: left
    +border-top-left-radius(0)

  $margin: -8%
  &#variables, &#mixins
    float: left
    margin-left: $margin
    clear: both
  &#nesting, &#extend
    float: right
    margin-right: $margin

  &#variables, &#nesting
    p
      height: 4em
