#sidebar
  float: right
  padding-right: 40px
  margin-left: 10px
  width: 203px
  .download
    $img-height: 115px
    $img-padding: -10px
    $text-height: 48px

    height: $img-height + $img-padding*2 + $text-height
    width: 201px
    background:
      image: url(/images/download.png)
      repeat: no-repeat
      position: 18px $img-padding
    border: $border

    p
      line-height: 11px
      font-size: 12.5px
      padding:
        left: 22px
        right: 22px
        top: $img-height + $img-padding*2

      a
        position: relative
        left: 9px
        top: 7px
    a
      font-size: 24px

  .link
    padding: 12px 6px 12px 52px
    background: url(/images/bullet.gif) no-repeat left
    border-bottom: 1px solid #a7a7a7
    a
      font-size: 19px
