#sidebar
  float: right
  padding-right: 40px
  margin-left: 10px
  width: 203px

  .download
    height: 195px
    width: 195px
    background: url(/images/download.gif) no-repeat

    p
      padding-left: 50px
      padding-top: 159px

    a
      font-size: 24px

  .link
    padding: 16px 6px 16px 52px
    background: url(/images/bullet.gif) no-repeat left
    border-bottom: 1px solid #a7a7a7

    a
      font-size: 19px
