#main { content: Hello!; qstr: Quo"ted"!; hstr: Hyph-en!; width: 30em; background-color: #000; color: #ffffaf; con: foo bar 9 hi there boom; con2: noquo quo; }
#main #sidebar { background-color: #00ff98; num-normal: 10; num-dec: 10.2; num-dec0: 99; num-neg: -10; esc: 10+12; many: 6; order: 7; complex: #4c9db1hi16; }

#plus { num-num: 7; num-num-un: 25em; num-num-un2: 23em; num-num-neg: 9.87; num-str: 100px; num-col: #bcbcbc; str-str: hi there; str-str2: hi there; str-col: 14em solid #1f2f3f; str-num: times: 13; col-num: #ff8aaa; col-col: #5f80ff; }

#minus { num-num: 900; col-num: #f9f9f4; col-col: #000035; }

#times { num-num: 7; num-col: #7496b8; col-num: #092345; col-col: #243648; }

#div { num-num: 3.33333333333333; num-num2: 3; col-num: #092345; col-col: #0b0d0f; }

#mod { num-num: 2; col-col: #0f0e05; col-num: #020001; }
