.shadow {
  box-shadow: 5px 5px 10px black, inset 0 0 10px white; }

.color-red {
  color: red; }

.color-green {
  color: green; }

.color-blue {
  color: blue; }

.color-c {
  color: cyan; }

.color-m {
  color: magenta; }

.color-y {
  color: yellow; }

.color-k {
  color: black; }

.comment {
  box-shadow: inset 0 0 10px white; }

#sidebar div a {
  color: red; }

.nested {
  color: red;
  color: orange;
  color: yellow;
  color: green;
  color: blue; }

@media all and (min-device-width: 100px) and (max-device-width: 300px) {
  #sidebar {
    width: 100%; } }
